@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;

}

body {
    background: radial-gradient(circle at top left, #0f172a 0%, #020617 45%, #000 100%);
    color: #e2e8f0;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
.hide-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;
    /* hide scrollbar */
    -ms-overflow-style: none;
    /* hide scrollbar in IE 10+ */
}
